[user]
    email = lukas@huvar.cz
    name = Lukáš Huvar
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFiFPXMGQc3ZoDKZ1aY4kfafqDduCd3JkyS/iIoWOccE

[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process

[push]
    default = current

[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches
    sync = !git pull origin $(git symbolic-ref --short HEAD)
    cln = !git reset --hard HEAD && git clean -fd
    up = !git checkout -f $(git remote show origin | grep 'HEAD branch' | cut -d' ' -f5) && git pull
    amd = !git commit --amend --no-edit
    p = push
    cp = cherry-pick

[core]
    pager = delta

[delta]
    side-by-side = true
    syntax-theme = "Catppuccin Macchiato"

[includeIf "gitdir:/Users/lukashuvar/Developer/productboard/"]
    path = /Users/lukashuvar/Developer/productboard/.gitconfig
[url "git@github.com:"]
	insteadOf = https://github.com/

[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
